root = "."
tmp_dir = "tmp"

[build]
  cmd = "go build -gcflags='all=-N' -o tmp/main ."
  bin = "tmp/main"
  include_ext = ["go"] # 監控的文件擴展名
  exclude_dir = ["assets", "vendor"] # 排除的目錄
  full_bin = "dlv exec ./tmp/main --headless --listen=:40000 --api-version=2 --accept-multiclient --continue"



